<label>{{field.text | translate}}</label>
<span>
    <input type="text" ng-model="model"
        ng-readonly="readonly(field)" datepicker-popup close-text="{{'Main.Close' | translate}}"
        clear-text="{{ 'Main.Clear' | translate }}" current-text="{{ 'Main.Today' || translate }}"
        is-open="field.isOpen"/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="showDateTimeField($event, field)">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</span>
<input-field-error></input-field-error>