='Subject: Reset Password'

doctype html

html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(charset="utf-8")
        title Reset Password

body
    h2 Reset Password
    p Someone on site
        a(href="{HostName}") {SiteName}
        = ' is requested password reset for your account. If it is not you, just ignore the message. If you want to reset the password, please follow this link: '
        a(href="{ResetUrl}") Reset Password
