<div class="body1">
    <div class="body2">
        <header class="navbar navbar-default navbar-fixed-top" id="header">
            <div class="navbar-inner" ui-scrollfix>
                <div class="container" ng-cloak>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="showXsMenu = !showXsMenu">
                            <span class="sr-only">[[#text]]ToggleNavigation[[/text]]</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand visible-xs" href="{{rootPath}}" ng-click="navigateToView(rootPath)">
                            [[>views/logoXs.html]]
                        </a>
                        
                        <div class="visible-xs navbar-notifications scriptonly">
                            <a ng-repeat="notification in notifications" href="{{rootPath+notification.path}}" ng-click="gotoNotification(notification)" ng-show="notification.count > 0">
                                <span ng-if="notification.icon" class="glyphicon" ng-class="notification.icon"></span>
                                <span class="badge" ng-bind="notification.count" ng-class="notificationClass(notification)"></span>
                            </a>
                            <a href="#" ng-if="loggedIn && userNotVerified">
                                <span>
                                    <span class="badge" style="background-color: #a94442" data-toggle="tooltip" data-placement="bottom" title="[[#text]]EmailNotVerified[[/text]]">!</span>
                                </span>
                            </a>
                        </div>
                    </div>

                    <nav class="hidden-xs">
                        <ul class="nav navbar-nav navbar-left" id="navbar-menu">
                            <li>
                                <a href="/" ng-if="navigationTree.length == 0" ng-click="navigateToView(rootPath)" role="button" class="navbar-brand">
                                    [[>views/logo.html]]
                                </a>
                            </li>
                            <li class="dropdown scriptonly" ng-if="navigationTree.length > 0">
                                <a role="button" class="dropdown-toggle navbar-brand">
                                    <span ng-bind="rootTitle">[[#property]]SiteName[[/property]]</span> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{rootPath}}" ng-click="navigateToView(rootPath)" role="button" class="navbar-brand">
                                            [[>views/logo.html]]
                                        </a>
                                    </li>
                                    <li class="scriptonly" ng-repeat="item in navigationTree" style="{{item.style}}">
                                        <a href="{{rootPath+item.url}}" ng-click="navigateToView(rootPath+item.url)" ng-bind="item.title"></a>
                                    </li>
                                </ul>
                            </li>

                            [[topMenu]]
                        </ul>

                        <form class="navbar-form navbar-left scriptonly" role="search" ng-if="hasSearch">
                            <div class="input-group search-panel">
                                <input type="text" class="form-control" placeholder="Search" ng-model="getScope().searchText">
                                <ul class="results" ng-show="searchText.length > 0">
                                    <li ng-if="searchResults.length == 0">[[#text]]NoResultsFound[[/text]]</li>
                                    <li ng-repeat="result in searchResults">
                                        <a href="{{rootPath+result.url}}" ng-click="navigateToView(rootPath+result.url)">
                                            <span class="search-result-name" ng-bind="result.name"></span>
                                            <span class="search-result-body" ng-bind-html="result.text"></span>
                                        </a>
                                    </li>
                                    <li><button class="btn btn-default" ng-click="clearSearch()">[[#text]]Close[[/text]]</button></li>
                                </ul>
                            </div>
                        </form>
                        
                        <ul ng-if="languages && languages.length" class="nav navbar-nav navbar-right scriptonly">
                            <li class="dropdown">
                                <a role="button" class="dropdown-toggle">
                                    <img ng-if="selectedLanguage.imageUrl" ng-src="{{rootPath+selectedLanguage.imageUrl}}" class="language-icon" />
                                    <span ng-bind="selectedLanguage.shortName"></span> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="language in languages">
                                        <a href="{{language.url}}">
                                            <img ng-if="language.imageUrl" ng-src="{{rootPath+language.imageUrl}}"/> {{language.name}} ({{language.shortName}})
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">

                            [[>views/topMenuPlugins.html]]

                            <li ng-repeat="notification in notifications" class="navbar-notification scriptonly" ng-show="notification.count > 0">
                                <a href="{{rootPath+notification.path}}" ng-click="gotoNotification(notification)">
                                    <span ng-if="notification.icon" class="glyphicon" ng-class="notification.icon"></span>
                                    <span ng-bind="notification.title"></span>
                                    <span class="badge" ng-bind="notification.count" ng-class="notificationClass(notification)"></span>
                                </a>
                            </li>

                            <li class="dropdown scriptonly" ng-show="!loggedIn && hasLogin">
                                <a role="button" class="dropdown-toggle"><span class="glyphicon glyphicon-user" style="font-size: small"></span> [[#text]]User[[/text]] <b class="caret"></b></a>
                                <div class="dropdown-menu">
                                    <form role="form" class="login-form">
                                        [[>views/login.html]]
                                    </form>
                                </div>
                            </li>

                            <li class="dropdown scriptonly" ng-show="loggedIn">
                                <a role="button" class="dropdown-toggle">
                                    <span ng-if="userNotVerified">
                                        <span class="badge" style="background-color: #a94442" data-toggle="tooltip" data-placement="bottom" title="[[#text]]EmailNotVerified[[/text]]">!</span>
                                        <span>&nbsp;</span>
                                    </span>
                                    <span class="glyphicon glyphicon-user" style="font-size: small"></span> {{userName}} <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{rootPath+profilePath}}" ng-click="navigateToView(rootPath+profilePath)">[[#text]]Profile[[/text]]</a></li>
                                    <li><a href="#" ng-click="doLogout()">[[#text]]Logout[[/text]]</a></li>
                                </ul>
                            </li>

                            <li ng-if="showConfiguration" class="scriptonly">
                                <a href="{{rootPath+configurationPath}}" ng-click="navigateToView(rootPath+configurationPath)"><span class="glyphicon glyphicon-cog"></span></a>
                            </li>
                        </ul>
                    </nav>
                    
                    <nav class="visible-xs" collapse="!showXsMenu">
                        <ul class="nav navbar-nav" id="navbar-menu-small">
                            <li ng-show="!loggedIn && hasLogin" class="scriptonly">
                                <a ng-click="showLogin()">
                                    <span class="glyphicon glyphicon-user" style="font-size:small"></span> [[#text]]User[[/text]]
                                </a>
                            </li>

                            <li ng-show="loggedIn" class="scriptonly">
                                <a href="{{rootPath+profilePath}}" ng-click="navigateToView(rootPath+profilePath)">
                                    <span class="glyphicon glyphicon-user" style="font-size:small"></span> <span>{{userName}}</span>
                                </a>
                            </li>

                            <li ng-show="loggedIn" class="scriptonly">
                                <a href="#" ng-click="doLogout()">[[#text]]Logout[[/text]]</a>
                            </li>

                            <li>
                                <a href="/" ng-click="navigateToView(rootPath)">
                                    <span class="glyphicon glyphicon-home"></span> <span ng-bind="rootTitle">[[#property]]SiteName[[/property]]</span>
                                </a>
                            </li>
                            <li ng-repeat="item in navigationTree" style="{{item.style}}" class="scriptonly">
                                <a href="{{item.url}}" ng-click="navigateToView(rootPath+item.url)" ng-bind="item.title"></a>
                            </li>

                            [[topMenu]]
                            [[>views/topMenuPlugins.html]]
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        
        <div class="breadcrumb-host scriptonly" ui-scrollfix ng-if="breadcrumbs.length > 0 || loadingNewPage" ng-cloak>
            <div class="container">
                <ul class="breadcrumb">
                    <li ng-repeat="item in breadcrumbs">
                        <a href="{{item.url}}" ng-click="navigateToView(rootPath + item.url)" ng-bind="item.text"></a>
                    </li>
                    <li class="active" ng-bind="title"></li>
                </ul>
                <span ng-if="loadingNewPage"><span us-spinner="{radius:2,width:2,length:3,lines:9,top:'15px',left:'-4px',position:'relative'}"></span></span>
            </div>
        </div>
        
        <div class="loadmessage container scriptonly" ng-cloak>[[#text]]PleaseWaitLoading[[/text]]</div>

        <div class="contents container" ng-cloak>
            <div class="toolbar scriptonly">
                <button ng-repeat="button in toolbarButtons" type="button" class="btn btn-default" ng-disabled="!isToolbarButtonEnabled(button.id)" ng-click="onToolbarButtonClick(button.id)" ng-bind="button.text"></button>
            </div>
            <alert class="scriptonly" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(alert.id)"><div ng-bind="alert.message"></div></alert>
            <div class="scriptonly" bind-compiled-html="{ name: 'bindBody', scope: getViewScope }">
                [[#text]]PleaseWaitLoading[[/text]]
            </div>
            [[noScriptBlock]]
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <p>This site is built on <a href="http://www.lessmarkup.com" target="_new">LessMarkup Engine</a></p>
    </div>
</div>
