<div layout="column" tabindex="-1" role="main" flex>
    <md-toolbar>
        <div class="md-toolbar-tools" tabindex="-1">
            <div layout="row" flex>
                <h1 class="logo">
                    <node-link path="'/'" layout="row" flex>
                        <!--<md-icon md-svg-src="menu"></md-icon>-->
                        <span>[[#property]]SiteName[[/property]]</span>
                    </node-link>
                </h1>
                <breadcrumbs />
                [[topMenu]]
                [[>views/topMenuPlugins.html]]
                <search-panel />
                <languages-panel />
                [[>views/topMenuPlugins.html]]
                <collection-updates platform="desktop" />
                <user-panel platform="desktop" />
            </div>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav class="site-sidenav md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <md-content flex role="navigation">
                <navigation-tree platform="desktop" />
            </md-content>
        </md-sidenav>
        <md-content flex>
            <div class="scriptonly" ng-cloak>[[#text]]PleaseWaitLoading[[/text]]</div>
            <alerts-and-messages />
            <bind-template class="scriptonly" template="template" configuration="configuration">
                [[#text]]PleaseWaitLoading[[/text]]
            </bind-template>
            [[noScriptBlock]]
        </md-content>
    </div>
</div>
