<div layout="column" tabindex="-1" role="main" flex>
    <md-toolbar>
        <div class="md-toolbar-tools" tabindex="-1">
            <div layout="row" flex>
                <h1 class="logo" ng-click="toggleSidenav()">
                    <md-icon md-svg-icon="[[#map]]icons/menu.svg[[/map]]"></md-icon>
                    <span>[[#property]]SiteName[[/property]]</span>
                </h1>
                <breadcrumbs></breadcrumbs>
                [[topMenu]]
                [[>views/topMenuPlugins.html]]
                <search-panel></search-panel>
                <span flex></span>
                <languages-panel></languages-panel>
                [[>views/topMenuPlugins.html]]
                <collection-updates platform="desktop"></collection-updates>
                <user-panel></user-panel>
            </div>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="lockSidenav">
            <md-content flex role="navigation">
                <navigation-tree platform="desktop"></navigation-tree>
            </md-content>
        </md-sidenav>
        <md-content flex>
            <md-subheader ng-bind="title"></md-subheader>
            <alerts-and-messages></alerts-and-messages>
            <bind-module class="scriptonly" template="template" configuration="configuration">
                [[#text]]PleaseWaitLoading[[/text]]
            </bind-module>
            [[noScriptBlock]]
        </md-content>
    </div>
</div>
