<!DOCTYPE html>
<html lang="en" ng-app="application" ng-controller="main">
    <head>
        <meta name="viewport" content="width=device-width"/>
        [[>views/styles.html]]
        <title ng-bind="title">{{title}}</title>
        [[googleAnalytics]]

        <style>
            .scriptblock {
                display: none !important;
            }
        </style>
        <style id="noscript">
            [ng-cloak] {
                display: inherit;
            }
            .scriptonly {
                display: none !important;
            }
            .scriptblock {
                display: block !important;
            }
        </style>
    </head>
    <body>
        [[#useScripts]]
        [[>views/inputFormTemplate.html]]
        [[/useScripts]]
        [[>views/body.html]]
        [[#useScripts]]
        document.getElementById("noscript").innerHTML = "";
        <script type="text/javascript" src="[[#map]]lib/require.js[[/map]]" data-main="[[#map]]scripts/config/paths[[/map]]"></script>
        <script type="text/javascript">
            require(['app', 'angular', 'domready'], function(app, ng, document) {
                app.value('initialData', [[initialData]]);
                app.value('serverConfiguration', [[serverConfiguration]]);
                ng.bootstrap(document, ['app']);
            });
        </script>
        [[/useScripts]]
    </body>
</html>
