<!DOCTYPE html>
<html lang="en" ng-controller="main">
    <head>
        <meta name="viewport" content="width=device-width"/>
        [[>views/styles.html]]
        <title ng-bind="title">{{title}}</title>
        [[googleAnalytics]]

        <style>
            .scriptblock {
                display: none !important;
            }
        </style>
        <style id="noscript">
            [ng-cloak] {
                display: inherit;
            }
            .scriptonly {
                display: none !important;
            }
            .scriptblock {
                display: block !important;
            }
        </style>
    </head>
    <body>
        [[>views/body.html]]
        [[#useScripts]][[>views/bootstrap.html]][[/useScripts]]
    </body>
</html>
