<div class="flat-design" ng-controller="flatpage" ng-switch="position">
    <div ng-switch-when="Right" class="row">
        <div class="col-md-10">
            <div ng-repeat="page in flat" class="flatpage">
                <div ng-switch="page.level">
                    <h2 ng-switch-when="1" ng-bind="page.title" id="{{page.anchor}}" class="spyelement"></h2>
                    <h3 ng-switch-when="2" ng-bind="page.title" id="{{page.anchor}}" class="spyelement"></h3>
                </div>

                <div class="toolbar">
        	        <button ng-repeat="button in getPageScope(page).toolbarButtons" type="button" class="btn btn-default" ng-disabled="!isToolbarButtonEnabled(button.id)" ng-click="onToolbarButtonClick(button.id)" ng-bind="button.text"></button>
	            </div>

                <div bind-compiled-html="{name: 'bindHtml', scope: getPageScope, html: page.viewBody, context: page}"></div>
            </div>
        </div>
        <div class="col-md-2 scrollspy scrollspy-side">
            <ul class="nav" scrollspy-side>
                <li ng-repeat="node in tree" class="spyref" data-anchor="{{node.anchor}}">
                    <a href="#" ng-bind="node.title" ng-click="scrollToPage(node.anchor)"></a>
                    <ul ng-if="node.children.length > 0">
                        <li ng-repeat="child in node.children" class="spyref" data-anchor="{{child.anchor}}">
                            <a href="#" ng-bind="child.title" ng-click="scrollToPage(child.anchor)"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div ng-switch-when="Top">
        <div ng-repeat="page in flat" class="flatpage">
            <div ng-switch="page.level">
                <h2 ng-switch-when="1" ng-bind="page.title" id="{{page.anchor}}" class="spyelement"></h2>
                <h3 ng-switch-when="2" ng-bind="page.title" id="{{page.anchor}}" class="spyelement"></h3>
            </div>
            <div bind-compiled-html="{name: 'bindHtml', scope: getPageScope, html: page.viewBody, context: page}"></div>
        </div>
        <div scrollspy-top>
            <ul class="nav navbar-nav navbar-left">
                <li ng-repeat="node in tree" class="scrollspy-menu spyref" data-anchor="{{node.anchor}}">
                    <a href="#" ng-bind="node.title" ng-click="scrollToPage(node.anchor)"></a>
                </li>
            </ul>
        </div>
    </div>
</div>