<md-dialog ng-form="form" aria-label="{{title}}" flex="80">
    <md-dialog-content>
        <md-subheader>{{title}}</md-subheader>
    </md-dialog-content>
    <md-content>
        [[>views/inputFormTemplateBody.html]]
    </md-content>
    <div class="md-actions">
        <md-button class="md-raised md-primary" ng-click="submit(form)" ng-disabled="okDisabled(form)">
            <span>{{ 'Main.ButtonOk' | translate }}</span>
            <md-progress-circular ng-show="isApplying" md-mode="indeterminate"></md-progress-circular>
        </md-button>
        <md-button class="md-raised" ng-click="cancel()" ng-disabled="isApplying">{{ 'Main.ButtonCancel' | translate }}</md-button>
    </div>
</md-dialog>
