<md-content layout-padding layout="column">
    <div ng-repeat="field in fields | orderBy: 'position'">
        <md-input-container ng-include="getFieldTemplate(field)">
        </md-input-container>
    </div>

    <div ng-if="submitWithCaptcha" captcha="recaptchaPublicKey"></div>

    <div class="bg-danger dialog-notification" ng-if="submitError.length > 0">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span ng-bind="submitError"></span>
    </div>

    <div class="bg-success dialog-notification" ng-if="submitSuccess.length > 0">
        <span class="glyphicon glyphicon-ok-circle"></span>
        <span ng-bind="submitSuccess"></span>
    </div>
</md-content>
