<md-content layout-padding layout="column">
    <input-field ng-repeat="field in fields track by field.id" model="object" field="field"></input-field>

    <div ng-if="submitWithCaptcha" captcha="recaptchaPublicKey"></div>

    <div class="bg-danger dialog-notification" ng-if="submitError.length > 0">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span ng-bind="submitError"></span>
    </div>

    <div class="bg-success dialog-notification" ng-if="submitSuccess.length > 0">
        <span class="glyphicon glyphicon-ok-circle"></span>
        <span ng-bind="submitSuccess"></span>
    </div>
</md-content>
