<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <p>{{message}}</p>
</div>
<div class="modal-footer">
    <div class="bg-danger dialog-notification" ng-if="submitError.length > 0">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span ng-bind="submitError"></span>
    </div>
    <button class="btn btn-primary" ng-click="submit()">
        <span>{{ 'Main.ButtonYes' | translate }}</span>
        <md-progress-circular ng-show="isApplying" md-mode="indeterminate"></md-progress-circular>
    </button>
    <button class="btn btn-warning" ng-click="cancel()">{{ 'Main.ButtonNo' | translate }}</button>
</div>
