<ul ng-if="languages.length > 1" class="nav navbar-nav navbar-right scriptonly">
    <li class="dropdown">
        <a role="button" class="dropdown-toggle">
            <img ng-if="selectedLanguage.imageUrl" ng-src="{{selectedLanguage.imageUrl}}" class="language-icon" />
            <span ng-bind="selectedLanguage.shortName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li ng-repeat="language in languages">
                <a href="#" ng-click="switchLanguage(language.id)">
                    <img ng-if="language.imageUrl" ng-src="{{language.imageUrl}}"/> {{language.name}} ({{language.shortName}})
                </a>
            </li>
        </ul>
    </li>
</ul>
