<div class="form-group">
    <label for="loginUsername" class="control-label">[[#text]]UserEmail[[/text]]</label>
    <input type="email" id="loginUsername" placeholder="Username" ng-model="loginUserEmail" class="form-control" ng-disabled="userLoginProgress">
</div>

<div class="form-group">
    <label for="loginPassword" class="control-label">[[#text]]Password[[/text]]</label>
    <input type="password" id="loginPassword" placeholder="Password" ng-model="loginUserPassword" class="form-control" ng-disabled="userLoginProgress">
</div>

<div class="form-group">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="loginUserRemember" ng-disabled="userLoginProgress"> [[#text]]RememberMe[[/text]]
        </label>
    </div>
</div>

<div class="bg-danger dialog-notification" ng-if="userLoginError.length > 0">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <span ng-bind="userLoginError"></span>
</div>

<div class="form-group">
    <button type="submit" class="btn btn-default" ng-click="doLogin(viewData.administratorKey)" ng-disabled="userLoginProgress">
        <span>[[#text]]SignIn[[/text]]</span>
        <span us-spinner="{radius:5,width:2,length:4,lines:9,top:0,left:0,position:'relative'}" ng-show="userLoginProgress"></span>
    </button>
    <button class="btn btn-default" ng-if="hasLogin" ng-click="doRegister()" ng-disabled="userLoginProgress">[[#text]]Register[[/text]]</button>
    <a ng-if="hasLogin" ng-click="navigateToView(forgotPasswordPath)">[[#text]]ForgotPassword[[/text]]</a>
</div>
