<div ng-controller="nodelist">
    <div ng-if="nodes.length == 0">
        <button ng-click="createNode(null)">[[#text]]CreateRootNode[[/text]]</button>
    </div>
    <ul class="nodes">
        <li ng-repeat="node in nodes" ng-style="getLevelStyle(node)" ng-class="{'node-disabled' : !nodeEnabled(node)}">
            <div>
                <span class="title" ng-bind="node.data.title" ng-click="changeProperties(node)"></span>
                <span class="buttons">
                    <button ng-disabled="upDisabled(node)" ng-click="moveUp(node)">[[#text]]NodeUp[[/text]]</button>
                    <button ng-disabled="downDisabled(node)" ng-click="moveDown(node)">[[#text]]NodeDown[[/text]]</button>
                    <button ng-disabled="leftDisabled(node)" ng-click="moveLeft(node)">[[#text]]NodeLeft[[/text]]</button>
                    <button ng-disabled="rightDisabled(node)" ng-click="moveRight(node)">[[#text]]NodeRight[[/text]]</button>
                    <button ng-if="hasSettings(node)" ng-click="changeSettings(node)">[[#text]]NodeSettings[[/text]]</button>
                    <button ng-click="createNode(node)">[[#text]]AddChild[[/text]]</button>
                    <button ng-if="canBeDeleted(node)" ng-click="deleteNode(node)">[[#text]]Delete[[/text]]</button>
                    <a href="{{nodeAccessPage(node)}}" ng-click="navigateToView(nodeAccessPage(node))">[[#text]]EditAccess[[/text]]</a>
                </span>
            </div>
        </li>
    </ul>
    <div class="bg-danger dialog-notification" ng-if="updateError.length > 0">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span ng-bind="updateError"></span>
    </div>
    <div ng-if="updateProgress">
        <span us-spinner="{radius:3,width:2,length:4,lines:9,top:0,left:0}"></span>
        <span>[[#text]]Updating[[/text]]</span>
    </div>
</div>