<table class="properties">
    <tr ng-repeat="property in viewData.properties">
        <td class="property-name">
            <span ng-bind="property.name"></span>
        </td>
        <td ng-switch="property.type" class="property-value">
            <span ng-switch-when="Date" ng-bind="property.value | date:'medium'"></span>
            <img ng-switch-when="Image" ng-src="{{property.value}}" class="img-thumbnail" />
            <span ng-switch-default ng-bind="property.value"></span>
        </td>
    </tr>
</table>
