<div ng-controller="recordList">
    <div class="grid-control-panel-top" ng-if="toolbarButtons.length > 0">
        <md-button ng-repeat="button in toolbarButtons" class="md-default md-raised" aria-label="button.text | translate" ng-click="onToolbarButtonClick(button)" ng-bind="button.text | translate"></md-button>
    </div>
    
    <div ng-if="manualRefresh" class="recordlist-refresh-panel">
        <md-button class="md-primary" ng-click="refreshNewRecords()" ng-show="hasNewRecords">{{ 'Main.GetNewRecords' | translate }}</md-button>
    </div>

    <pagination ng-show="showPagination" items-per-page="itemsPerPage" boundary-links="true" direction-links="true" total-items="totalItems" ng-model="currentPageNumeric" class="pagination-sm pagination-top" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="paginationItems" ng-class="{ 'grid-refreshing' : updating }"></pagination>

    <table class="grid-control" ng-class="{ 'show-options' : showOptions, 'has-options' : hasOptionsBar, 'grid-refreshing' : updating }">
        <tr>
            <th ng-repeat="column in columns" width="{{column.width}}" colspan="{{column.colSpan}}" class="{{column.headerClass}}">
                <span ng-click="sortColumn(column)" ng-bind="column.text | translate" ng-class="{ 'sort-up' : column.sort == 'up', 'sort-down' : column.sort == 'down' }"></span>
                <span ng-if="hasRecordSearch && column == columns[columns.length-1]" class="toggle-search-button">
                    <button class="btn" ng-click="toggleRecordSearch()"><span class="glyphicon" ng-class="{ 'glyphicon-chevron-up' : recordSearchVisible, 'glyphicon-search' : !recordSearchVisible }"></span></button>
                </span>
            </th>
        </tr>
        <tr ng-if="hasRecordSearch" ng-show="recordSearchVisible" class="search-row">
            <td colspan="{{(tableColumns)}}">
                <form ui-keypress="{ 13: searchRecords() }">
                    <table>
                        <tr>
                            <td>
                                <input type="text" placeholder="Enter text to search" ng-model="getRecordListScope().recordSearchText" class="form-control" />
                            </td>
                            <td>
                                <button class="btn" ng-click="searchRecords()"><span class="glyphicon glyphicon-search"></span></button>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
        <tr ng-repeat="row in rows" ng-class="{ 'odd': row.isOdd }">
            <td ng-if="hasOptionsBar" class="grid-cell-options {{columns[0].cellClass}}" cell-show-options ng-click="onClickOptions(row, null, $event)"><span></span></td>
            <td ng-repeat="column in columns" bind-cell="column" row="row" class="{{column.cellClass}}" cell-show-options ng-click="onClickOptions(row, column, $event)"></td>
        </tr>
    </table>

    <pagination ng-show="showPagination" items-per-page="itemsPerPage" boundary-links="true" direction-links="true" total-items="totalItems" ng-model="currentPageNumeric" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="paginationItems" ng-class="{ 'grid-refreshing' : updating }"></pagination>

    <div class="grid-control-panel-bottom" ng-if="toolbarButtons.length > 0">
        <md-button ng-repeat="button in toolbarButtons" class="md-default md-raised" aria-label="button.text | translate" ng-click="onToolbarButtonClick(button)" ng-bind="button.text | translate"></md-button>
    </div>
</div>
