<form class="navbar-form navbar-left scriptonly" role="search" ng-if="hasSearch">
    <div class="input-group search-panel">
        <input type="text" class="form-control" placeholder="Search" ng-model="getScope().searchText">
        <ul class="results" ng-show="searchText.length > 0">
            <li ng-if="searchResults.length == 0">[[#text]]NoResultsFound[[/text]]</li>
            <li ng-repeat="result in searchResults">
                <a href="{{rootPath+result.url}}" ng-click="navigateToView(rootPath+result.url)">
                    <span class="search-result-name" ng-bind="result.name"></span>
                    <span class="search-result-body" ng-bind-html="result.text"></span>
                </a>
            </li>
            <li><button class="btn btn-default" ng-click="clearSearch()">[[#text]]Close[[/text]]</button></li>
        </ul>
    </div>
</form>
