<div ng-controller="tabpage">
    <ul class="nav nav-tabs" role="tablist">
        <li ng-repeat="page in pages" ng-class="{'active' : page.uniqueId == activePage.uniqueId }">
            <a href="#{{page.uniqueId}}" role="tab" data-toggle="tab" ng-bind="page.title"></a>
        </li>
    </ul>
    <div class="tab-content">
        <div ng-repeat="page in pages" class="tab-pane" id="{{page.uniqueId}}" ng-class="{'active' : page.uniqueId == activePage.uniqueId }">
            <div bind-compiled-html="{name: 'bindHtml', scope: getPageScope, html: page.viewBody, context: page}"></div>
        </div>
    </div>    
</div>