md-button.scriptonly.md-icon-button(ng-if="hasConfiguration" aria-label="{{ 'Main.Configuration' | translate }}" ng-click="openConfiguration()")
    // md-icon(md-svg-icon="[[#map]]icons/setup.svg[[/map]]")
    i.fa.fa-cog
