.spinner {
  width: 20px;
  height: 20px;
  padding-top: 5px;
  display: inline-block;
}

button .spinner {
  padding-left: 3px;
  padding-top: 0;
  margin-left: 0.5em;
  margin-right: 0.4em;
  width: 12px;
  height: 12px;
  top: 5px !important;
}
