@import "partials/layout";
@import "partials/footer";
@import "partials/navbar";
@import "partials/breadcrumb";

.header-placeholder {
    height: 60px;
}

.contents .toolbar .btn {
    margin-bottom: 10px;
    margin-right: 5px;
}

.has-error .mce-panel {
    border-color: #a94442;    
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@import "partials/spinner";
@import "partials/bootstrap";
@import "controllers/dialog";

.form-control.CodeMirror {
    padding: 0;
}

button:not(.btn)[disabled=disabled] {
  color: #bbb;
}

@import "partials/dropdownmenu";

.nav-tabs {
    margin-bottom: 15px;
}

.form-group .control-label {
    float: none;
}

@media (max-width: 767px) {
    .navbar-brand {
        padding-left: 15px;
    }
    .navbar-nav {
        margin: 0;
    }
    .container > .navbar-header {
        margin: 0;
    }
    .contents {
        padding: 5px;
    }
    .breadcrumb li:first-child {
        padding: 0 0 0 15px;
    }
}

.visible-xs.collapse:not(.in) {
    display: none !important;
}

.rich-control {
    border-radius: 4px;
    border: solid 1px #ccc;
    padding: 1em;
}

.file-comment {
    margin-left: 1em;
}

span.badge.active-notification {
    background: #428bca !important;
}

@import "partials/search";

.language-icon {
    width: 1.5em;
    height: 1em;
}

.dialog-notification {
    padding: 5px 10px;
    border-radius: 2px;
}

.dialog-notification.bg-danger {
    color: red;
}

@import "controllers/properties";
@import "partials/filelist";

@import "controllers/configuration";
@import "controllers/flatpage";
@import "controllers/nodelist";
@import "controllers/recordlist";
